.about {
    background-color: black;
    color: #A8A184;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    max-width:750px;
}

.about-image {
    width:100%;
}

.about-text {
    padding-left: 5%;
    padding-top: 5%;
    width:70%;
}

.about-text > h1 {
    font-size: 25px;
    font-weight: 700;
}

@media screen and (max-width: 1000px) {
    .about-wrapper {
        flex-direction: column;
        align-items: center;
        width:80%;
    }

    .about-image > img {
        width:100%;
        max-width: 360px;
    }

    .about-text {
        width:100%;
        padding-top: 5%;
        padding-left: 0px;
    }
  }